ASC_ISSUER_ID="YOUR_ASC_ISSUER_ID"
ASC_KEY_ID="YOUR_ASC_KEY_ID"
ASC_KEY_FILE="/absolute/path/to/AuthKey_KEYID.p8"
APP_IDENTIFIER="com.jiang.isletgames"
APP_TEAM_NAME="Yu Shiung Jiang"
IPA_PATH="/Volumes/Crucial X6/@CodexAPP 13套戰略/＠ＧＡＭＥ/IsletGames/Build/ipa/IsletGames.ipa"
